name: "Flutter CI Reusable Workflow"

on:
  workflow_call:
    inputs:
      flutter_version:
        required: true
        type: string
      flutter_channel:
        required: true
        type: string
      coverage_threshold:
        required: true
        type: string
      build_ios:
        required: true
        type: boolean
    secrets:
      SONAR_TOKEN:
        required: false
      CODACY_PROJECT_TOKEN:
        required: false

env:
  FLUTTER_VERSION: ${{ inputs.flutter_version }}
  FLUTTER_CHANNEL: ${{ inputs.flutter_channel }}
  COVERAGE_THRESHOLD: ${{ inputs.coverage_threshold }}

jobs:
  build_flutter_project:
    name: Build Flutter Project
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set Up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Setup Flutter
        uses: Rite-Technologies-23/reusable-repo-flutter/.github/actions/setup-flutter@main
        with:
          flutter_version: ${{ inputs.flutter_version }}
          flutter_channel: ${{ inputs.flutter_channel }}

      - name: Flutter Pub Get
        run: flutter pub get

  dart_analyzer:
    name: Run Dart Analyzer & Generate Report
    runs-on: ubuntu-latest
    needs: build_flutter_project

    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: Rite-Technologies-23/reusable-repo-flutter/.github/actions/setup-flutter@main
        with:
          flutter_version: ${{ inputs.flutter_version }}
          flutter_channel: ${{ inputs.flutter_channel }}

      - name: Run Dart Analyzer
        run: |
          dart analyze > analyzer-report.txt
          echo "Analyzer completed."
      
          # Check if 'error •' exists in report
          if grep -q "error •" analyzer-report.txt; then
            echo "Critical Dart analyzer errors found. Aborting build."
            exit 1
          else
            echo "No critical errors found. Warnings will be ignored."
          fi


      - name: Convert Analyzer Report to HTML
        run: dart .github/tool/analyzer_to_html.dart

      - name: Upload Dart Analyzer Reports
        uses: actions/upload-artifact@v4
        with:
          name: Dart-Analyzer-Reports
          path: |
            analyzer-report.txt
            analyzer-report.html

  run_tests:
    name: Run Test Cases & Generate Report
    runs-on: ubuntu-latest
    needs: build_flutter_project
    outputs:
      test-report-path: test-results/test-report.html

    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: Rite-Technologies-23/reusable-repo-flutter/.github/actions/setup-flutter@main
        with:
          flutter_version: ${{ inputs.flutter_version }}
          flutter_channel: ${{ inputs.flutter_channel }}

      - name: Run Flutter Tests (Machine & Coverage Output)
        run: |
          mkdir -p test-results
          flutter test --coverage --machine > test-results/results.json || true
          cat test-results/results.json

      - name: Convert Test Output to JUnit XML
        run: |
          dart run .github/tool/json_to_junit.dart < test-results/results.json > test-results/test-report.xml || true

      - name: Generate HTML Test Report
        uses: pl-strflt/junit-xml-to-html@v1
        with:
          mode: 'no-frames'
          input: 'test-results/test-report.xml'
          output: 'test-results/test-report.html'

      - name: Upload Test Report
        uses: actions/upload-artifact@v4
        with:
          name: Flutter-Test-Report
          path: test-results/test-report.html

  test_coverage:
    name: Run Test Coverage & Generate Report
    runs-on: ubuntu-latest
    needs: run_tests

    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: Rite-Technologies-23/reusable-repo-flutter/.github/actions/setup-flutter@main
        with:
          flutter_version: ${{ inputs.flutter_version }}
          flutter_channel: ${{ inputs.flutter_channel }}

      - name: Install lcov
        run: sudo apt-get update && sudo apt-get install -y lcov

      - name: Run Flutter Tests with Coverage
        run: flutter test --coverage --machine > test-results/results.json || true

      - name: Generate HTML Coverage Report
        run: |
          if [ -f coverage/lcov.info ]; then
            mkdir -p coverage_report
            genhtml coverage/lcov.info \
              --output-directory coverage_report \
              --title "Flutter Test Coverage" \
              --show-details \
              --highlight \
              --legend
          else
            echo "No coverage info found."
          fi

      - name: Upload HTML Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: Flutter-Coverage-Report
          path: coverage_report/

      - name: Check Coverage Threshold
        run: |
          if [ -f coverage/lcov.info ]; then
            total_coverage=$(lcov --summary coverage/lcov.info | grep -Po 'lines\.*: \K[0-9.]+(?=%)')
            echo "Total Coverage: $total_coverage%"
            result=$(echo "$total_coverage < $COVERAGE_THRESHOLD" | bc -l)
            if [ "$result" -eq 1 ]; then
              echo "Code coverage ($total_coverage%) is below threshold ($COVERAGE_THRESHOLD%)."
              exit 1
            fi
          fi

  build_apk:
    name: Build APK
    runs-on: ubuntu-latest
    needs: [dart_analyzer, run_tests]

    steps:
      - uses: actions/checkout@v4

      - name: Set Up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Setup Flutter
        uses: Rite-Technologies-23/reusable-repo-flutter/.github/actions/setup-flutter@main
        with:
          flutter_version: ${{ inputs.flutter_version }}
          flutter_channel: ${{ inputs.flutter_channel }}

      - name: Build Android APK
        run: flutter build apk --split-per-abi

      - name: Conditionally Build iOS App
        if: ${{ inputs.build_ios }}
        run: flutter build ios --no-codesign
